@font-face {
  font-family: 'Magnus';
  src: url('Magnus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: rgb(255, 255, 255);
}

.poster-container {
  display: flex; /* Arrange items in a row */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  overflow-x: auto; /* Add a horizontal scrollbar when content overflows */
  width: 100%; /* Set the width of the container */
  margin: 0 auto; /* Center the container if desired */
  padding-bottom: 15px; /* Add some space for the scrollbar */
}

.poster {
  flex: 0 0 auto; /* Prevent items from growing or shrinking */
  width: 300px; /* Set a width for each poster */
  height: 400px; /* Set a height for each poster */
  margin-right: -30px; /* Add some space between posters */
  /* Add any other styling for your posters */
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the area */
}

a{
    font-family: "Magnus";
    color:black;
    font-size: 80px;
    font-weight: 600;
}