@font-face {
  font-family: 'Demather';
  src: url('Demather.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Beauty';
  src: url('BeautyDemo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
    color:red;
    font-family: "Helvetica";
    font-size: 55px;
}

p{
    font-size: 23px;
}

.my-paragraph {
    font-size: 40px;
    font-family: "Beauty";
}