@font-face {
  font-family: 'Soul Handwriting';
  src: url('soul-handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hopeless Romantic';
  src: url('HopelessRomanticSociety.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
    color:red;
    font-family: "Hopeless Romantic";
    font-size: 150px;
}

p{
    font-size: 30px;
    font-family: "Soul Handwriting";
}
