@font-face {
  font-family: 'Soul Handwriting';
  src: url('soul-handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
    color:red;
    font-family: "Helvetica";
    font-size: 55px;
}

p{
    font-size: 30px;
    font-family: Soul Handwriting;
}
