@font-face {
  font-family: 'Ballet';
  src: url('Ballet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soul Handwriting';
  src: url('soul-handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
    color:red;
    font-family: "Ballet";
    font-size: 180px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

p{
    font-family: "Soul Handwriting";
    font-size: 30px;
}

.qa{
    color:red;
}

#q{
    font-size: 40px;
    font-family: "Didot";
    font-variant: small-caps;
}

#a{
    font-family: "Soul Handwriting";
    font-size: 30px;
}

.i-remember{
    font-family: "Didot";
    font-variant: small-caps;
    font-size: 30px;
}

.right-align {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.back-home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Ballet";
  opacity: 0.5;
  transition: 0.3s ease;
}

.back-home:hover {
  opacity: 1;
}

img {
    display: block;
    margin: 0 auto;
}